@model ChangePasswordModel 
@section Links {
  <style>
    #footerNav {
      display:none;
    }
  </style>
}
@section Scripts{
  <script src="~/assets/js/pswmeter.js"></script>
}
@section BackButton {
  <div class="back-button">
    <a asp-controller="Home" asp-action="Pages">
      <i class="bi bi-arrow-left-short"></i>
    </a>
  </div>

}

<!-- Login Wrapper Area -->
<div class="login-wrapper d-flex align-items-center justify-content-center">

  <div class="custom-container">
    <div class="text-center px-4">
      <img class="login-intro-img" src="~/assets/img/reset-password.png" width="64" height="64"/>
    </div>

    <!-- Register Form -->
    <div class="register-form mt-4">
      <form asp-controller="User" asp-action="ChangePassword" method="post">
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <h6 class="mb-3 text-center">Şifreni Değiştir</h6>
@* 
        <div class="form-group text-start mb-3">                                                                                                                                                                        
          <input class="form-control" type="text" placeholder="8 karakterli doğrulama kodunu giriniz">
        </div>
 *@
        <div class="form-group text-start mb-3 position-relative">
          <input class="form-control" id="psw-input" type="password" placeholder="Yeni Şifre" asp-for="Password" name="Password">
          <div class="position-absolute" id="password-visibility">
            <i class="bi bi-eye"></i>
            <i class="bi bi-eye-slash"></i>
          </div>
        </div>

        <div class="mb-3" id="pswmeter"></div>

        <div class="form-group text-start mb-3">
          <input class="form-control" type="password" placeholder="Yeni Şifre Tekrar" asp-for="ConfirmPassword" name="ConfirmPassword">
        </div>

        <button class="btn btn-primary w-100" type="submit">Şifre Değiştir</button>
      </form>

      @if (TempData["SuccessMessage"] != null)
      {

        <div class="alert custom-alert-one alert-success alert-dismissible fade show mt-3" role="alert">
          <i class="bi bi-check-circle"></i>
          @TempData["SuccessMessage"]
          <button class="btn btn-close position-relative p-1 ms-auto" type="button" data-bs-dismiss="alert"
                  aria-label="Close"></button>
        </div>
      }
      else if (TempData["ErrorMessage"] != null)
      {

        <div class="alert custom-alert-one alert-danger alert-dismissible fade show mt-3" role="alert">
          <i class="bi bi-x-circle"></i>
          @TempData["ErrorMessage"]
          <button class="btn btn-close position-relative p-1 ms-auto" type="button" data-bs-dismiss="alert"
                  aria-label="Close"></button>
        </div>
      }
    </div>
  </div>
</div>